@{
    ViewData["hii"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Message"]</h1>
    <p>To learn more about ASP.NET Core, visit the <a href="https://docs.microsoft.com/aspnet/core">documentation</a>.</p>
</div>
